﻿@model LeagueViewModel

@{
    ViewData["Title"] = Model.Name;
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-lg-10">
        Create a Matchday for <b>@Model.Name</b>
        <a class="btn btn-default" href=@Url.Action("Create", "Meetup", Model.Id)>
            Create Match Day
        </a>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
