﻿@model DashboardViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/soccer-banner-1.jpg" alt="Register Your League" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Register your league and start your game.
                    <a class="btn btn-default" href=@Url.Action("Create", "League")>
                        Register
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/soccer-banner-2.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Register your league and start your game.
                    <a class="btn btn-default" href=@Url.Action("Create", "League")>
                        Register
                    </a>
                </p>
            </div>
        </div>

    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="row">
    <div class="col-lg-10">
        @Html.ActionLink("Register Your League", "Create", "League")
    </div>
</div>

<div class="row">
    <div class="col-lg-10">
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">League Name</th>
                    <th scope="col">Members</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>

                @if (Model.LeagueList.Count > 0)
                {
                    for (int i = 0; i < Model.LeagueList.Count; i++)
                    {
                        <tr>
                            <th scope="row">i+1</th>
                            <td>@Model.LeagueList[i].Name</td>
                            <td>@Model.LeagueList[i].Players.Count</td>
                            <td>View</td>
                        </tr>
                    }

                }else
                {
                    <tr>User not registered to any leagues</tr>
                }
            </tbody>
        </table>
    </div>
</div>
